
.about-section {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;

	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/work1.jpg) no-repeat center scroll;
	color: white;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.problem-section {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/work2.png) no-repeat center scroll ;
  
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.think-section {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/work3.png) no-repeat bottom center scroll ;
  
  color: white;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}