.rc_120831 {width:279px; height:138px; background:#FFFFFF; border-bottom:1px solid #e1e1e1; border-left:1px solid #e1e1e1; border-top:1px solid #e1e1e1; text-align:left;}
.rc_120831 img {border:0 none;}
.rc_120831 .bank {width:92%; margin:7px auto 0; font:normal 12px Gulim; text-align:left;}
.rc_120831 .slot {width:100%; height:20px; float:left; background:url(http://mdimg.realclick.co.kr/I/iwmedia/120831_02bl.gif) 0 50% no-repeat; text-indent:8px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.rc_120831 a {text-decoration:none; color:#666666; line-height:22px;}
.rc_120831 a:hover {text-decoration:underline; color:#f28011;}
.rc_120831 .bold {font-weight:bold;}